#exerciseForm{
    text-align: center;
    width:100%;
    margin: 1em auto;
}
.search-filters{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 1em;
}

#search-name{
    height: 3em;
    width: 70%;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
}
#exerciseForm select {
    height: 4em;
    width: 15em;
}
#exerciseForm button {
    background-color: #195DA2;
    height: 3em;
    width: 15em;
}
#search-results {
    margin-top: 5em;
    display:block;
}
.exercise-search-result{
    background-color: #195DA2;
    color:white;
    text-align: center;
    margin: 2em;
}
