.day-title {
    font-size: 2em;
    text-transform: capitalize;
}

.day-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    background-color: #D9EAFA;
    padding-top: 2em;
    width: 12em;
    border-radius: 2em;
    height: 50vh;
}