<div class="container-fluid d-flex flex-column" style=" margin-top: 5em; gap: 2em;">
  <div class ="d-flex justify-content-center gap-4">
    <div class="small-containers-footer">
      <p class="subheader">About us</p>
      <p style="font-size: 1em;   max-width: 15em;">
        DailyFit is a dedicated platform offering personalized exercise routines tailored to meet your individual
        needs. Whether you're aiming to build strength,
        improve flexibility, or enhance overall wellness, we're here to support you every step of the way.
        Join us on DailyFit and embark on your journey towards a healthier, fitter lifestyle today!
      </p>
    </div>
    <div class="small-containers-footer">
      <p class="subheader">Follow us</p>
      <div  class="row row-cols-3 align-items-center" style="font-size: 1.3rem" id="social-media-container">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-twitter-x"></i>
          <i class="bi bi-instagram"></i>
      </div>
    </div>
    <div class="small-containers-footer">
      <p class="subheader">Contact us</p>
      <div class="d-flex flex-column align-items-center" style="font-size: 1.3rem; gap: 1em;">
        <i class="bi bi-whatsapp"> 123456789</i>
        <i class="bi bi-envelope"> mail&commat;example.com</i>
      </div>
    </div>
  </div>
  <div class="justify-content-center d-flex" >
    DailyFit &copy; 2024 DailyFit. All rights reserved.
  </div>
</div>
