#profile-image-button:active {
  transform: scale(0.9);
}

.search-container {
  position: relative;
}

#search::placeholder {
  color: #195DA2;
  padding-left: 10px;
}


.line {
  margin-left: 3.125em;
  width: calc(100% - 3.125em);
  border: 0.125em solid #406E9B;
  height: 0.25em;
}


