<div class="container">
  <div *ngIf="routines == null || routines.length == 0">
    There are no routines planned today or they've been completed already
  </div>
  <div *ngFor="let routine of routines" class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">{{routine.name}}</h5>
      <ul class="list-group list-group-flush">
        <li *ngFor="let exercise of exercises[routine.rid]" class="list-group-item">
          <p>{{exercise.exercise}}</p>
          <label for="{{routine.rid}}-{{exercise}}-w">Weight:</label>
          <input id="{{routine.rid}}-{{exercise}}-w" [(ngModel)]="exercise.weight">
          <label for="{{routine.rid}}-{{exercise}}-s">Sets:</label>
          <input id="{{routine.rid}}-{{exercise}}-s" [(ngModel)]="exercise.sets">
          <label for="{{routine.rid}}-{{exercise}}-r">Repetitions:</label>
          <input id="{{routine.rid}}-{{exercise}}-r" [(ngModel)]="exercise.reps">
        </li>
      </ul>
      <div *ngIf="!exercises[routine.rid]">
        There are no exercises in this routine
      </div>
      <button class="btn btn-primary mt-3" (click)="onRoutineDone(routine.rid)">Routine Done</button>
    </div>
  </div>
</div>
