<div class="container">
  <div *ngIf="routines == undefined || routines.length == 0">
    There are no routines planned today or they've been completed already
  </div>
  <div *ngFor="let routine of routines" class="card mt-4">
    <div class="card-body">
      <h1>{{routine.name}}</h1>
      <ul class="list-group list-group-flush">
        <li *ngFor="let exercise of exercises[routine.rid]" class="list-group-item d-flex flex-column gap-3" style="width:30%">
          <h2>{{exercise.exercise}}</h2>
          <div class="d-flex justify-content-between" >
            <label for="{{routine.rid}}-{{exercise}}-w">Weight:</label>
            <input id="{{routine.rid}}-{{exercise}}-w" [(ngModel)]="exercise.weight" [disabled]="!routineIsNotDone[routine.rid]">
          </div>
          <div class="d-flex justify-content-between">
            <label for="{{routine.rid}}-{{exercise}}-s">Sets:</label>
            <input id="{{routine.rid}}-{{exercise}}-s" [(ngModel)]="exercise.sets" [disabled]="!routineIsNotDone[routine.rid]">
          </div>
          <div class="d-flex justify-content-between">
            <label for="{{routine.rid}}-{{exercise}}-r">Repetitions:</label>
            <input id="{{routine.rid}}-{{exercise}}-r" [(ngModel)]="exercise.reps" [disabled]="!routineIsNotDone[routine.rid]">
          </div>
        </li>
      </ul>
      <div *ngIf="!exercises[routine.rid]">
        There are no exercises in this routine
      </div>
      <button class="btn btn-primary mt-3" (click)="onRoutineDone(routine.rid)" *ngIf="routineIsNotDone[routine.rid]">Routine Done</button>
    </div>
  </div>
</div>
<app-chronometer id="chronometer"></app-chronometer>
