
<div class="weekly-page d-flex flex-column col-1 align-items-center">
  <select class="weekly-plans-selector" [(ngModel)]="selectedWeeklyPlanIndex" (change) = "onWeeklyPlanChange()">
    <option *ngFor="let entry of weeklyPlans, let i = index" [value]="i" >{{ entry.name }}</option>
  </select>
  <div id="schedule" class="justify-content-center">
    <div id="weekly-{{day}}" class="weekly-day-of-week-container row-cols-7 justify-content-between container-fluid" *ngFor="let i = index, let day of daysOfWeek">
      <h1 class="day-title">{{ day }}</h1>
      <div class="day-content">
        <div *ngFor=" let entry of filterRoutinesByDay(i+1)">
          {{ getRoutineNameByRid(entry.rid)}}
        </div>
      </div>
    </div>
  </div>

  <button (click)="toggleEditMode()" class="weekly-edit-button">{{ editingMode ? 'Save' : 'Edit' }}</button>


  <div *ngIf="editingMode" class="align-items-center">
    <div class="row row-cols-2 align-items-center">
      <button (click)="togglePopup()" class="weekly-add-routine-button">Add Routine</button>
      <button (click)="toggleInput()" class="weekly-add-weekly-button">Add New Weekly Plan</button>
    </div>
  </div>

  <div *ngIf="showInput" class="add-weekly-name-input">
      <div class="input-container">
        <input type="text" class="weekly-title" [(ngModel)] = "newWeeklyName">
      </div>
      <button (click)="addWeeklyPlan(newWeeklyName)" id="weekly-input-btn-add" class="weekly-add-weekly-button" >Add</button>
  </div>

  <div *ngIf="showPopup" class="add-routine-popup">
    <div class="selector-container">
      <label for="day-selector">Day:</label>
      <select id="day-selector" [(ngModel)]="numberOfDay">
        <option *ngFor="let day of daysOfWeek; let i = index"  [value]="i"> {{ day }}</option>
      </select>
    </div>
    <div class="selector-container">
      <label for="routine-selector">Routine:</label>
      <select id="routine-selector" [(ngModel)]="selectedRoutineIndex">
        <option *ngFor="let i = index, let routine of routinesByUser;" [value]="i">{{ routine.name}}</option>
      </select>
    </div>
    <button (click)="addRoutine()" id="weekly-popup-btn-add" class="weekly-add-weekly-button" >Add</button>
  </div>
</div>
