<div class="d-flex flex-column align-items-center">
  <select  id="weekly-selector" class="container mb-4" [(ngModel)]="selectedWeeklyPlanIndex" (change) = "onWeeklyPlanChange()">
    <option *ngFor="let entry of weeklyPlans, let i = index" [value]="i" >{{ entry.name }}</option>
  </select>
  <div class="d-flex justify-content-center mb-3">
    <div id="weekly-{{day}}" class="d-flex flex-column row-cols-7 justify-content-between container-fluid align-items-center g-3" *ngFor="let i = index, let day of daysOfWeek">
      <h1 class="small-text">{{ day }}</h1>
      <div id="day-container" class="container d-flex flex-column align-items-center g-1 mt-4">
        <div *ngFor=" let entry of filterRoutinesByDay(i+1)">
          {{ getRoutineNameByRid(entry.rid)}}
        </div>
      </div>
    </div>
  </div>

  <button (click)="toggleEditMode()" class="button">{{ editingMode ? 'View' : 'Edit' }}</button>


  <div *ngIf="editingMode" class="row align-items-center">
      <button (click)="togglePopup()" class="button m-2">Add Routine</button>
      <button (click)="toggleInput()" class="button m-2">Add New Weekly Plan</button>
  </div>

  <div *ngIf="showInput" class="d-flex flex-column align-items-center">
      <!div class="container mb-2 ">
        <input  class="container mb-2 small-text " type="text" [(ngModel)] = "newWeeklyName">
      <!/div>
      <button (click)="addWeeklyPlan(newWeeklyName)" class="button-small" >Add</button>
  </div>

  <div *ngIf="showPopup" class="d-flex flex-column align-items-center">
    <div class="mb-1">
      <label for="day-selector" class="mb-2 me-2">Day: </label>
      <select id="day-selector" class="container"  [(ngModel)]="numberOfDay">
        <option *ngFor="let day of daysOfWeek; let i = index"  [value]="i"> {{ day }}</option>
      </select>
    </div>
    <div class="mb-2">
      <label for="routine-selector" class="mb-2 me-2">Routine: </label>
      <select id="routine-selector" class="container" [(ngModel)]="selectedRoutineIndex">
        <option  *ngFor="let i = index, let routine of routinesByUser;" [value]="i">{{ routine.name}}</option>
      </select>
    </div>
    <button (click)="addRoutine()" class="button-small" >Add</button>
  </div>
</div>
