.SidebarItems {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 1em;
}

.SidebarIcons {
    height: 2em;
    width: 2em;
}

#Left_Sidebar{
    p {
        font-size: 2em;
    }

    display: flex;
    flex-direction: column;
    border-right: 4px solid #195DA2;

    padding-top: 4em;
    padding-left: 2em;
    padding-right: 2em;
    width: max-content;

    height: 100%;
    background-color: white;
    z-index: 1;
    left: 0;
    position: fixed;
}
#routine-button:active {
    transform: scale(0.9);
}
#routine-button {
    background-color: transparent;
    border: none;
    padding: 0;
}