<div class="weekly-page d-flex flex-column  col-1 align-items-center">
  <select class="weekly-plans-selector">
   <option selected value="">Select a weekly plan </option>
  </select>

  <div id="schedule">
    <div id="weekly-{{day}}" class="weekly-day-of-week-container row-cols-7 justify-content-between container-fluid" *ngFor="let day of days">
      <div class="day-title-container">
        <h1 class="day-title"> {{ day }}</h1>
      </div>
      <div class="day-content">
      </div>
    </div>
  </div>

  <button (click)="toggleEditMode()" class="weekly-add-routine-button"> {{ editingMode ? 'Save' : 'Edit' }}</button>
  <div *ngIf="editingMode" class="col align-items-center" >
    <div class="input-container">
      <input type="text" class="weekly-title">
    </div>
    <div class="row row-cols-2  align-items-center justify-content-between">
      <button  (click)="addRoutine()" class ="weekly-add-routine-button"> Add Routine</button>
      <button  (click)="addWeeklyPlan()" class ="weekly-add-routine-button"> Add New Weekly Plan</button>
    </div>
  </div>

</div>
