#login-page {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20em;
}

.form {
    display: flex;
    gap: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.form-title {
    font-size: 4em;
    color: #422F6B;
    margin: 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1em;
}

.question-text {
    font-size: 1em;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.form-button {
    background-color: #422F6B;
    color: white;
    padding: 0.6em 1em;
    cursor: pointer;
    border-radius: 1em;
}

.input {
    display: flex;
    align-items: center;
    gap: 1em;
}

.text-field-icon {
    width: 40px;
    height: 40px;
}

.text-field {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5em;
    border-radius: 1em;
    width: 90%;
}
