<div class="search-page">

  <form id="exerciseForm" style="margin: 1em auto; text-align: center;" (submit)="onSubmit($event)">

    <input type="text" class="search-button p-3 border-0" [(ngModel)]="searchFilters.name" name="name" placeholder="Search exercises">

    <div class="d-flex align-items center justify-content-center justify-content-between" style="margin-top: 1em;">
      <select class="filters" [(ngModel)]="searchFilters.muscleGroup" name="muscleGroup">
        <option selected value ="">All Muscle Group</option>
        <option value="{{muscle}}" *ngFor="let muscle of muscleGroupFilters">{{muscle}}</option>
      </select>

      <select class="filters" [(ngModel)]="searchFilters.material" name = "material">
        <option selected value ="">All Material</option>
        <option value="{{material.value}}" *ngFor="let material of materialFilters">{{material.name}}</option>
      </select>

      <select class="filters" [(ngModel)]="searchFilters.type" name="type">
        <option value="" selected>All Types</option>
        <option value="{{type}}" *ngFor="let type of typeFilters">{{type}}</option>
      </select>


      <select class="filters" [(ngModel)]="searchFilters.difficulty" name="difficulty">
        <option value="" selected>All Difficulties</option>
        <option value="{{diff.value}}" *ngFor="let diff of difficultyFilters">{{diff.name}}</option>
      </select>
    </div>

    <button type="submit" class="button" style="margin-top: 3em;">Search</button>

  </form>



  <section id="search-results" class="container-fluid" style="margin-top: 5em">
    <div class="row row-cols-4 justify-content-around">
      <div class="exercise-search-result card h-100" (click)="openDialog(entry)" *ngFor="let entry of exercises | paginate: { itemsPerPage: 6, currentPage: page } ">
        <app-search-result [entry]="entry"></app-search-result>
      </div>
    </div>
  </section>
  <dialog id="{{entry.name.split(' ').join('_')}}" *ngFor="let entry of exercises">
    <app-exercise-details [exercise]="entry" [rid]="rid"></app-exercise-details>
    <button (click)="closeDialog(entry)" class="button-small">Close</button>
  </dialog>
</div>
<div class="d-flex justify-content-center">
  <pagination-controls (pageChange)="page = $event"
                       previousLabel= "Previous"
                       nextLabel="Next" >
  </pagination-controls>
</div>

