<div class="search-page">

  <form id="exerciseForm" (submit)="onSubmit($event)">

    <input type="text" [(ngModel)]="searchFilters.name" name="name" placeholder="Search exercises">

    <div class="search-filters">
      <select [(ngModel)]="searchFilters.muscleGroup" name="muscleGroup">
        <option selected value="">Muscle Group?</option>
        <option value="{{muscle}}" *ngFor="let muscle of muscleGroupFilters">{{muscle}}</option>
      </select>

      <select [(ngModel)]="searchFilters.material" name = "material">
        <option selected value ="">Material needed?</option>
        <option value="{{material.value}}" *ngFor="let material of materialFilters">{{material.name}}</option>
      </select>

      <select [(ngModel)]="searchFilters.type" name="type">
        <option selected value="">Type?</option>
        <option value="{{type}}" *ngFor="let type of typeFilters">{{type}}</option>
      </select>


      <select [(ngModel)]="searchFilters.difficulty" name="difficulty">
        <option selected value="">Difficulty?</option>
        <option value="{{diff.value}}" *ngFor="let diff of difficultyFilters">{{diff.name}}</option>
      </select>
    </div>

    <button type="submit" class="search-button">Search</button>

  </form>



  <section id="search-results" class="container-fluid">
    <div class="row row-cols-4 justify-content-around">
      <article class="exercise-search-result" (click)="openDialog(entry)" *ngFor="let entry of exercises | paginate: { itemsPerPage: 5, currentPage: page } ">
        <p class="exercise-search-result-name">Name: {{entry.name}}</p>
        <p class="exercise-search-result-muscle">MuscleGroup: {{entry.muscleGroup}}</p>
      </article>
    </div>
  </section>
  <dialog id="{{entry.name.split(' ').join('_')}}" *ngFor="let entry of exercises">
    <app-exercise-details [exercise]="entry" [rid]="rid"></app-exercise-details>
    <button (click)="closeDialog(entry)">Close</button>
  </dialog>
</div>

<pagination-controls (pageChange)="page = $event"
                     previousLabel= "Previous"
                     nextLabel="Next" >
</pagination-controls>
