<body>
<div class="element-container container">
  <div class = "row">
    <div class="col-4 text-center">
      <img id="exercisegif" src="../../../../favicon.ico" class="img-fluid" alt="Imagen">
    </div>
    <div class="col-8">
      <div id="text-area" class="row text-center">
      <h1 id="exercise-name">{{exercise.name}}</h1>
      </div>
      <div class="row text-center">
      <div class="subheader">Description</div>
      </div>
      <div class="row text-center">
        <div class="info">Crunches involve lying on your back, bending your knees, and lifting
        your upper body off the ground by contracting your abdominal muscles. Exhale as you lift, squeeze
        at the top, then lower back down with control</div>
      </div>
    </div>
  </div>
</div>
</body>


