.header-row{
    background-color: #D9EAFA;
    font-weight: bold;
    text-align: center;
    height: 70px;
}

th, td {
    padding: 15px;
}

table, th, td {
    border: 2px solid #406E9B;
    border-collapse: collapse;
}

#table{
    font-family: Arial, serif;
    width: 50%;
    border-radius: 10px;
}

.container{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
}

#create-routine-button{
    border-radius: 11px;
    border:none;
    background-color: #406E9B;
    color: white;
    margin-top: 5%;
    height: 30px;
    width: fit-content;
    padding: 0 10px;
}
