.Header_row{
    background-color: #D9EAFA;
    font-weight: bold;

}
.table{
    font-family: Arial, serif;
    height: 190%;
    width: 50%;

}

.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#CreateRoutineButton{
    border-radius: 11px;
    border:none;
    background-color: #406E9B;
    color: white;
    margin-top: 5%;
    height: 30px;
    width: 20%;
}
