<div class="d-flex flex-column align-items-center">
  <h1 class="title">Progress Chart</h1>
  <div class="d-flex flex-column gap-3">
    <div class="d-flex justify-content-center gap-3">
      <form [formGroup]="progressForm" class="d-flex gap-3" (ngSubmit)="onGenerateChart()">

        <div class="d-flex align-items-center gap-2">
          <label for="select-month">Exercise:</label>
          <select id="select-exercise" class="form-select" formControlName="exercise">
            <option value="" selected disabled hidden>Select an exercise</option>
            <option *ngFor="let exercise of exercises" [value]="exercise">
              {{ exercise }}
            </option>
          </select>
        </div>

        <div class="d-flex align-items-center gap-2">
          <label for="select-month">Year:</label>
          <select id="select-year" class="form-select" formControlName="year">
            <option value="" selected disabled hidden>Select a year</option>
            <option *ngFor="let year of years" [value]="year">
              {{ year }}
            </option>
          </select>
        </div>

        <div class="d-flex align-items-center gap-2">
          <label for="select-month">Month:</label>
          <select id="select-month" class="form-select" formControlName="month">
            <option value="0" selected>All</option>
            <option *ngFor="let month of months" [value]="month">
              {{ month }}
            </option>
          </select>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="progressForm.invalid">Show Chart</button>

      </form>


    </div>
    <canvas id="canvas" width=1000px></canvas>

    <div class="d-flex justify-content-center" *ngIf="chartLoaded">
      <button class="btn btn-primary" *ngIf="isPremium" (click)="onShowRecommendation()">More information</button>
      <button class="btn btn-primary" *ngIf="!isPremium" (click)="togglePopup()">More information</button>
    </div>

    <div class="container" *ngIf="showRecommendation">
      <app-recommendation [sets]="lastEntry.sets" [reps]="lastEntry.reps" [weight]="lastEntry.weight" [goal]="Goal.Strength"></app-recommendation>
    </div>
  </div>
</div>

<app-premium-popup *ngIf="showPopup" (closePopup)="togglePopup()"></app-premium-popup>
