<div class="d-flex flex-column align-items-center">
  <h1 class="title">Progress Chart</h1>
  <div class="d-flex flex-column gap-3">
    <div class="dropdown d-flex justify-content-center">
      <button class="button dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select an exercise
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" *ngFor="let exercise of exercises" (click)="selectExercise(exercise)">{{exercise}}</button>
      </div>
    </div>
    <canvas id="canvas"></canvas>
  </div>
</div>
