
<div class="form-group text-center">
    <div style="width:80%; margin:0 auto;">
      <full-calendar #calendar [options]="calendarOptions"></full-calendar>
    </div>
  <button (click)="toggleEditMode()" class="button" style="margin-top:3em;">Link a Weekly Planning to a week</button>
  <form (ngSubmit)="onSubmit()" *ngIf="editMode">
    <h1 class="subheader">Link a Weekly Planning to a week</h1>
    <p-calendar
      class="max-w-full form-control"
      id="weekSelector"
      [(ngModel)]="date"
      [inline]="true"
      [showWeek]="false"
      [showOtherMonths]="false"
      [firstDayOfWeek]="1"
      (onSelect)="onDateChanged()"
      [ngModelOptions]="{standalone: true}"
    ></p-calendar>
    <label for="selectorOfWeekly">Select a Weekly Planning</label>
    <select class="weekly-plans-selector filters" [(ngModel)]="selectedPlan" name="selectedPlan" id="selectorOfWeekly">
      <option selected value="{{weekly.wid}}" *ngFor="let weekly of userWeeklies">{{weekly.name}}</option>
    </select>

    <button type="submit" class="button">Submit</button>
  </form>
</div>
