<div class="container text-center">
  <h2>Nombre de la rutina</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Exercise</th>
      <th>Sets</th>
      <th>Reps</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let exercise of exercises">
      <td>{{exercise.exercise}}</td>
      <td>{{exercise.sets}}</td>
      <td>{{exercise.reps}}</td>
    </tr>
    <tr *ngIf="addExerciseButton">
      <td colspan="3"><span>Add Exercise</span></td>
    </tr>
    </tbody>
  </table>
  <div id="edit-button">
    <button (click)="saveRoutineAction()" *ngIf="saveRoutineButton">Save Routine</button>
    <button (click)="editRoutineAction()" *ngIf="editRoutineButton">Edit Routine</button>
  </div>
</div>
