thead {
  background-color: #D9EAFA;
}

th, td {
  padding: 15px;
  border: 2px solid #406E9B;
  border-collapse: collapse;
}

table:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

th,
td {
  padding: 12px;
  text-align: center;
  font-size: 16px;
  border: 2px solid #406E9B;
}

.delete-exercise-column {
  border: 0 none transparent;
  background-color: white;
}

.delete-exercise-button {
  padding: 5px;
}

.delete-exercise-button:hover {
  background-color: rgb(214, 214, 214);
  border-radius: 30px;
  cursor: pointer;
}

#table{
  margin-top: 20px;
  font-family: Arial, serif;
  width: 100%;
  border-radius: 10px;
}

#routine-name {
  margin-top: 10px;
}

.container{
  display: flex;
  width: 468px;
  height: 600px;
  right: 50%;
  flex-direction: column;
}

.button-container{
  flex-direction: row;
  text-align: center;
}

.add-exercise-button:hover {
  background-color: rgb(214, 214, 214);
  cursor: pointer;
}

.delete-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/* Estilos de texto para toda la tabla */
table {
  font-family: Arial, sans-serif;
  margin: auto 50% 0;
  transform: translateX(-50%);
}

