thead{
  background-color: #D9EAFA;
  font-weight: bold;
  text-align: center;
  height: 70px;
}

th, td {
  padding: 15px;
  border: 2px solid #406E9B;
  border-collapse: collapse;
}

td {
  text-align: center;
}

.delete-exercise-column {
  border: 0 none transparent;
  background-color: white;
}

.delete-exercise-button {
  padding: 5px;
}

.delete-exercise-button:hover {
  background-color: rgb(214, 214, 214);
  border-radius: 30px;
  cursor: pointer;
}

#table{
  margin-top: 20px;
  font-family: Arial, serif;
  width: 100%;
  border-radius: 10px;
}

#routine-name {
  margin-top: 10px;
}

.container{
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 468px;
  flex-direction: column;
}

.button-container{
  flex-direction: row;
  text-align: center;
}

.add-exercise-button:hover {
  background-color: rgb(214, 214, 214);
  cursor: pointer;
}

button{
  border-radius: 11px;
  border:none;
  background-color: #406E9B;
  color: white;
  margin: 5% 0 0 7px;
  height: 30px;
  width: fit-content;
  padding: 0 10px;
}
