<div class="container">
  <input *ngIf="isEditMode" type="text" id="routine-name" name="routine-name"
         placeholder="Routine Name" [(ngModel)] = "userRoutine.name" value="{{userRoutine.name}}">
  <p *ngIf="!isEditMode">{{userRoutine.name}}</p>
  <table id="table">
    <thead>
      <tr>
        <th>Exercises</th>
        <th>Sets</th>
        <th>Repetitions</th>
        <td class="delete-exercise-column" *ngIf="isEditMode"></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exercise of exercises">
        <td>{{exercise.exercise}}</td>
        <td>{{exercise.sets}}</td>
        <td>{{exercise.reps}}</td>
        <td class="delete-exercise-column" *ngIf="isEditMode"><span class="delete-exercise-button" (click)="deleteExerciseAction(exercise)">X</span></td>
      </tr>
      <tr class="add-exercise-button" *ngIf="isEditMode">
        <td colspan="3"><span>Add Exercise</span></td>
        <td class="delete-exercise-column" *ngIf="isEditMode" (click)="addExerciseAction()"></td>
      </tr>
    </tbody>
  </table>
  <div id="edit-button">
    <button (click)="saveRoutineAction()" *ngIf="isEditMode">Save Routine</button>
    <button (click)="editRoutineAction()" *ngIf="!isEditMode">Edit Routine</button>
    <button (click)="toggleDeleteConfirmation()" *ngIf="isEditMode">Delete Routine</button>
    <button routerLink="/routines">Go Back</button>
  </div>
</div>

<div class="delete-confirmation" *ngIf="showDeleteConfirmation">
  <p>Are you sure you want to delete this routine?</p>
  <button (click)="deleteRoutineAction()" routerLink="/routines">Confirm</button>
  <button (click)="toggleDeleteConfirmation()">Cancel</button>
</div>
