<div class="d-flex flex-column align-items-center justify-content-between">
  <div id="routines-container" class="grid-container justify-content-between d-grid row-cols-4 gap-4">
    <div *ngFor="let userRoutine of userRoutines" class="col p-3" id="routine-decor">
      <button id="routine-access" class="button-small" (click)="routineAccess(userRoutine.rid, userRoutine.name, userRoutine.email)" routerLink="/routine">{{ userRoutine.name }}</button>
    </div>
  </div>
  <div  class="align-text-center pt-4">
    <button *ngIf="!routineLimitReached()" class="button" (click)="routineGenerator()" routerLink = "/routine">Create routine</button>
    <button *ngIf="routineLimitReached()" (click)="togglePopup()" class="button">Create routine</button>
  </div>
</div>

<app-premium-popup *ngIf="showPopup" (closePopup)="togglePopup()"></app-premium-popup>
