#main-routine {
  margin: 20px;
  padding: 20px;
}

#routines-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; /* Incrementar el espacio entre los botones */
}

.routine {
  display: flex;
  justify-content: center;
}

.routine-button {
  width: 100%;
  background-color: #406E9B;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 20px;
}

.routine-button:hover {
  background-color: #304F78;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-routine-btn-container {
  margin-top: 20px;
  text-align: center;
}

.create-routine-btn {
  background-color: #406E9B;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 20px;
}

.create-routine-btn:hover {
  background-color: #304F78;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
