<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img [src]="user.profilePicture"
                   alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              <h5>{{ user.name }}</h5>
              <p *ngIf="user.premium">Premium</p>
              <p *ngIf="!user.premium">Free</p>
              <i class="far fa-edit mb-5" (click)="openEditModal()"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{ user.email }}</p>
                  </div>
                </div>
                <h6>Routines</h6>
                <p>{{ numRoutines }} Routines created</p>
                <hr class="mt-0 mb-4">
                <div class="d-flex justify-content-around">
                  <button class="btn btn-primary" (click)="openEditModal()">Edit Profile</button>
                  <button class="btn btn-primary" routerLink="/premium">Get Premium</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Edit Modal -->
<div class="modal" [class.d-block]="isEditModalOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Profile</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeEditModal()"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="newName" class="form-label">New Username</label>
            <input type="text" class="form-control" id="newName" [(ngModel)]="newName" name="newName">
          </div>
          <div class="mb-3">
            <label for="profilePic" class="form-label">New Profile Picture</label>
            <input type="file" class="form-control" id="profilePic" (change)="onFileSelected($event)" accept="image/*">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="submitEditProfile()">Save changes</button>
      </div>
    </div>
  </div>
</div>
