<div class="sidebar-items container left-sidebar-routine" [ngClass]="{'hidden': hideElements}">
  <button id="hide-sidebar-button" (click)="hideSidebar()">
    <img class="sidebar-icons" src='{{image}}' id="arrow" alt="">
  </button>

    <a routerLink="/routines"><button id="routines-button">
    <img class="sidebar-icons" src="/assets/images/routines-icon.jpg" id="logo" alt="">
    <span *ngIf="!hideElements">Routines</span>
    </button></a>
    <a routerLink="/weekly"><button id="weekly-button">
        <img class="sidebar-icons" src="/assets/images/barbell.png" id="barbell" alt="">
        <span *ngIf="!hideElements">Weekly</span>
    </button></a>
  <a routerLink="/progress"><button id="progress-button">
    <img class="sidebar-icons" src="assets/images/graph-icon.png" id="progress" alt="">
    <span *ngIf="!hideElements">Progress</span>
  </button></a>
  <a routerLink="/today"><button id="today-button">
    <img class="sidebar-icons" src="assets/images/today.png" id="today" alt="">
    <span *ngIf="!hideElements">Today</span>
  </button></a>
  <a routerLink="/exercise"><button class="sidebar_button">
    Create Exercise
  </button></a>
</div>
