<div id="left-sidebar-routine" class="sidebar-items">
    <a routerLink="/routines"><button id="routines-button">
    <img class="sidebar-icons" src="/assets/images/routines-icon.jpg" id="logo" alt="">
    Routines
    </button></a>
    <a routerLink="/weekly"><button id="weekly-button">
        <img class="sidebar-icons" src="/assets/images/barbell.png" id="barbell" alt="">
        Weekly
    </button></a>
  <a routerLink="/prueba"><button id="progress-button">
    Progress
  </button></a>
  <a routerLink="/today"><button id="today-button">
    Today
  </button></a>

</div>
