.sidebar-items {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 1em;
}

.sidebar-icons {
    height: 1.5em;
    width: 1.5em;
}

#left-sidebar-routine {
    p {
        font-size: 2em;
    }

    display: flex;
    flex-direction: column;
    border-right: 4px solid #195DA2;

    padding-top: 4em;
    padding-left: 2em;
    padding-right: 2em;
    width: 15em;

    height: 100%;
    background-color: white;
    z-index: 1;
    left: 0;
    position: fixed;
}


#routines-button:active {
    transform: scale(0.9);
}

#routines-button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 2em;

}

#routines-button img {
    margin-right: 10px;
}

#weekly-button:active {
    transform: scale(0.9);
}

#weekly-button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 2em;

}

#weekly-button img {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

/*
#left-sidebar-routine {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
*/