<div class="chronometer">
  <span class="time-container">{{chronometer.minutes}}</span>:<span class="time-container">{{chronometer.seconds}}</span>
</div>
<button class="btn btn-circle" (click)="startTimer()"><img class="btn-image" src="assets/images/play-icon.png" alt=""></button>
<button class="btn btn-circle" (click)="stopTimer()"><img class="btn-image" src="assets/images/pause-icon.png" alt=""></button>
<button class="btn btn-circle" (click)="resetTimer()"><img class="btn-image" src="assets/images/reset-icon.png" alt=""></button>
