#Header {
    top: 0;
    position: sticky;
    z-index: 99;
    background: white;
}
#profile-image-button {
    background-color: transparent;
    border: none;
    padding: 0;
}

#profile-image-button:active {
    transform: scale(0.9);
}

#Header_Elements{

    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 10px;

}

.header-logo img{

    max-width: 100px;
    height: auto;
    margin-left: 50px;
}

.Search-container{

    position: relative;
}
#Search{

    width: 500px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    color: #195DA2;
}
#Search::placeholder{
    color: #195DA2;
    padding-left: 10px;
}

#Icon{

    max-width: 50px;
    height: auto;
    margin-right: 20px;

}
.Line{

    margin-left: 50px;
    width: calc(100% - 50px);
    border: none;
    height: 4px;

}

#Container_Header{
    position: relative;
}
